section {
  background-color: #FF00FF; /* magenta */
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  border: 3px solid black;

}

h2 {
  background-color: #eeff00; /* gul */
  color: #66CC33;
}

p {
  background-color: #6aea70; 
  color: #4F8F3A;
}
h1 {
color: #046307;
background-color: #eeff00; /* gul */


}